#header p {
    font-weight: bold ;
    display: flex;
    justify-content: center;
}
#sizePrompt {
    width: 100px;
}
#header {
    display: flex;
    align-items: center;
    flex-direction: column;
}





.large-square {
    width: 500px;
    height: 500px;
    border: 1px solid #424632;  
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-square{
    border: 1px solid #424632; 
    width: calc(500px / 16);
  height: calc(500px / 16);
  }