#header p {
    font-weight: bold ;
    display: flex;
    justify-content: center;
}



.large-square {
    width: 500px;
    height: 500px;
    border: 1px solid #424632;  
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-square{
    border: 1px solid #424632; 
  }